---
import Layout from "@layouts/Layout.astro";
import Collapse from "@components/Collapse.astro";
import Offcanvas from "@components/Offcanvas.astro";
import Lightbox from "@components/Lightbox.astro";
import Slider from "@components/Slider.astro";
import Slide from "@partials/Slide.astro";
import { Picture, BackgroundPicture } from "astro-imagetools/components";
import { Icon } from "astro-icon";
---

<Layout title="Site title" description="Site description" />

<!-- <form action="" class="hf-form">
  <div class="grid gap-5 sm:grid-cols-2 sm:gap-12">
    <div>
      <label for="name">Imię i&nbsp;nazwisko</label>
      <input type="text" id="name" name="name" required />
    </div>
    <div>
      <label for="email">Adres e-mail</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div class="sm:col-span-2">
      <label for="message">Wiadomość</label>
      <textarea id="message" name="message" required></textarea>
    </div>
  </div>
  <span class="block text-sm">
    <b>Nazwa Firmy</b>. Dane wpisane w&nbsp;formularzu kontaktowym będą przetwarzane w&nbsp;celu udzielenia
    odpowiedzi zgodnie z
    <a href="/polityka-prywatnosci" class="font-bold text-dark">polityką prywatności</a>.
  </span>
  <button type="submit" class="mt-4 btn btn-primary sm:text-lg sm:py-3 sm:px-10 sm:mt-6">Wyślij wiadomość</button>
</form> -->

<!-- {% filter shortcodes %}
[hf_form slug="formularz-kontaktowy"]
{% endfilter %} -->
