---
import Layout from "@layouts/Layout.astro";
import Collapse from "@components/Collapse.astro";
import Offcanvas from "@components/Offcanvas.astro";
import { Picture, BackgroundPicture } from "astro-imagetools/components";
import { Icon } from "astro-icon";
---

<Layout title="Site title" description="Site description">
  <!-- Hero -->
  <section class="bg-neutral-100">
    <div class="container py-8 lg:py-16">
      <h1>Stylebook H1</h1>
      <p class="lg:text-xl">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem distinctio perspiciatis hic error nesciunt
        libero ab asperiores odio delectus nostrum id vero deleniti beatae alias earum vel laboriosam, sapiente
        obcaecati nam, laudantium porro unde fugit. Dignissimos atque beatae eligendi, molestiae praesentium
        deleniti suscipit at, eius aperiam sequi sapiente reiciendis porro.
      </p>
    </div>
  </section>

  <!-- Buttons -->
  <section class="container py-4 lg:py-8">
    <h2>Buttons:</h2>
    <div class="flex gap-5 max-sm:flex-col">
      <a href="#" class="btn-primary">.btn-primary class</a>
      <a href="#" class="btn-secondary">.btn-secondary class</a>
    </div>
  </section>

  <!-- Icons -->
  <section class="container py-4 lg:py-8">
    <h2>Icons:</h2>
    <div class="flex gap-2 text-secondary [&_svg]:w-16 hover:[&_svg]:text-dark">
      <Icon name="mdi:facebook" />
      <Icon name="mdi:twitter" />
      <Icon name="mdi:instagram" />
      <Icon name="mdi:pinterest" />
      <Icon name="ic:baseline-tiktok" />
    </div>
  </section>

  <!-- Collapses -->
  <section class="container py-4 lg:py-8">
    <h2>Collapses:</h2>
    <Collapse title="Lorem ipsum dolor sit amet">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est commodi, dolore, dolores fuga repellendus a
      omnis, vitae totam quibusdam earum rerum corporis itaque? Inventore repudiandae laborum perspiciatis aperiam
      ex dolorum?
    </Collapse>

    <p>Grouped collapses (accordion):</p>
    <Collapse title="Accordion item 1" group="groupName">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est commodi, dolore, dolores fuga repellendus a
      omnis, vitae totam quibusdam earum rerum corporis itaque? Inventore repudiandae laborum perspiciatis aperiam
      ex dolorum?
    </Collapse>
    <Collapse title="Accordion item 2" group="groupName">
      <span class="block mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est commodi, dolore, dolores fuga repellendus a
        omnis, vitae totam quibusdam earum rerum corporis itaque? Inventore repudiandae laborum perspiciatis
        aperiam ex dolorum?
      </span>

      <a href="#" class="btn-secondary">btn inside collapse</a>
    </Collapse>
  </section>

  <!-- Offcanvas -->
  <section class="container py-4 lg:py-8">
    <h2>Offcanvas:</h2>
    <Offcanvas title="Sidebar header" breakpoint="lg">
      <!-- Toggler (visible only up to breakpoint size)-->
      <div slot="toggler" class="btn-primary">Sidebar toggler</div>

      <!-- Sidebar content (it will be normal list on devices larger than value of "breakpoint" attribute) -->
      <div>Offcanvas content (this offcanvas works only for devices smaller than lg breakpoint)</div>
    </Offcanvas>
  </section>

  <!-- Dark section -->
  <section class="py-10 bg-dark">
    <div class="container-dark">
      <h2>Its dark section</h2>
      <p>Use .container-dark insted .container to have light font colors etc...</p>
    </div>
  </section>

  <!-- Responsive images -->
  <section class="container">
    <h2 class="mt-16 mb-8">Responsive images:</h2>
    <code class="block mb-3">{'<Picture src="/src/assets/images/demo-img.jpg" alt="" />'}</code>
    <div class="grid grid-cols-2 gap-10">
      <Picture src="/src/assets/images/demo-img.jpg" alt="" />
      <Picture src="/src/assets/images/demo-img.jpg" alt="" />
    </div>
  </section>

  <!-- Background image -->
  <BackgroundPicture src="/src/assets/images/bg-img.jpg">
    <div class="py-10 mt-16 container-dark">
      <h2>Background image</h2>
      <code class="block mb-3">{'<BackgroundPicture src="/src/assets/images/bg-img.jpg">'}</code>
      <p class="max-w-[900px]">
        Use BackgroundPicture coomponent. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem distinctio
        perspiciatis hic error nesciunt libero ab asperiores odio delectus nostrum id vero deleniti beatae alias
        earum vel laboriosam, sapiente obcaecati nam, laudantium porro unde fugit. Dignissimos atque beatae
        eligendi.
      </p>
    </div>
  </BackgroundPicture>
</Layout>
