---
import Layout from "@layouts/Layout.astro";
import { Picture, BackgroundPicture } from "astro-imagetools/components";
---

<Layout title="Site title" description="Site description">
  <section class="bg-neutral-100">
    <div class="container py-16">
      <h1>Just start writing code!</h1>
      <p class="text-xl">You don't konow how to use ready components?</p>
      <a href="/demo.html" class="btn-primary text-xl">Go to the demo site</a>
    </div>
  </section>
</Layout>
