---
import Offcanvas from "@components/Offcanvas.astro";
import NavCollapse from "@partials/NavCollapse.astro";

import { Picture } from "astro-imagetools/components";

const navbarBreakpoint = "lg";
---

<header class="container flex relative z-50 items-center justify-between py-3">
  <!-- Logo -->
  <a class="max-w-[190px]" href="/">
    <Picture src="/src/assets/images/logo.png" alt="Adwokat Tomasz Leśnik" loading="eager" placeholder="none" />
  </a>

  <!-- Navmenu -->
  <nav>
    <Offcanvas title="Menu" breakpoint={navbarBreakpoint}>
      <ul
        class={`gap-3 lg:gap-7 flex ${navbarBreakpoint}:items-center max-lg:flex-col [&_a]:animated-underline [&_a]:text-lg`}>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <NavCollapse title="NavCollapse" breakpoint={navbarBreakpoint}>
          <li><a href="#">Collapse Link 1</a></li>
          <li><a href="#">Collapse Link 2</a></li>
          <li><a href="#">Collapse Link 3</a></li>
        </NavCollapse>
        <li><a href="#">Link 5</a></li>
      </ul>
    </Offcanvas>
  </nav>
</header>

<!-- List of dynamic classes (Tailwind won't purge them): -->
<!-- md:items-center lg:items-center xl:items-center 2xl:items-center -->
