---
import { Icon } from "astro-icon";
import "@splidejs/splide/css/core";

interface Props {
  options?: Record<string, unknown>;
  class?: string;
}

const { options, class: className = false } = Astro.props;
const optionsString = JSON.stringify(options);
---

<section class:list={["splide", className]} aria-label="Splide Basic HTML Example" data-splide={optionsString}>
  <slot name="before-slides" />

  <!-- Slides -->
  <div class="splide__track">
    <ul class="splide__list">
      <slot />
    </ul>
  </div>
  <!-- END Slides -->

  <!-- Pagination  -->
  <!-- You can edit dots style using Splide.defaults.classes.page option  -->
  <ul class="pt-1 pb-5 space-x-1 splide__pagination"></ul>

  <slot name="after-slides" />
</section>

<script>
  import Splide from "@splidejs/splide";

  Splide.defaults = {
    type: "loop",
    perPage: 1,
    perMove: 1,
    pagination: false,
    arrows: true,
    gap: 25,
    breakpoints: {
      // sm: 640px
      640: {
        perPage: 1,
        arrows: false,
        pagination: true,
      },
      // md: 768px
      // lg: 1024px
      // xl: 1280px
      // 2xl: 1536px
    },

    classes: {
      // Default navigation (arrows)
      arrow:
        "splide__arrow absolute p-1.5 -translate-y-1/2 rounded-full text-dark hover:bg-zinc-100 top-1/2 [&>svg]:w-6 [&>svg]:h-6",
      prev: "splide__arrow--prev -left-10 rotate-180",
      next: "splide__arrow--next -right-10",

      // Default navigation (classes for dots only)
      // if you want to edit pagination container go up to ul.splide__pagination
      page: "splide__pagination__page w-2 h-2 bg-zinc-200 rounded-full [&.is-active]:bg-dark",
    },
  };

  window.addEventListener("DOMContentLoaded", function () {
    let elms = document.getElementsByClassName("splide");

    for (let i = 0; i < elms.length; i++) {
      new Splide(elms[i] as HTMLElement).mount();
    }
  });
</script>
